/* BASIC STYLES HERE */
@media (max-width: 768px) {
    /* header{
       height: 23dvh !important;
       padding: 0.75rem 0 0 0 !important;
    }
    
    main{
       height: 77dvh !important;
       padding: 0.25rem 0.25rem 0.25rem 0.25rem !important;
    }

    .question-card{
        font-size: 1.25rem;
    }
     */
}


p{
    all: unset;
}

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
    background: rgb(0,36,108);
    background: linear-gradient(146deg, rgba(0,36,108,1) 0%, rgba(0,23,70,1) 27%, rgba(0,34,101,1) 55%, rgba(0,36,107,1) 69%, rgba(0,34,102,1) 80%, rgba(0,23,70,1) 100%);
}

header{
    flex-grow: 1;
    height: 34dvh;
    padding: 2rem 0 0 0;
    align-content: center;
    text-align: center;
}

main{
    flex-grow: 2;
    height: 66dvh;
    padding: 2rem 4rem 4rem 4rem;
}

header section{
    height: 100%;
}

img {
    height: 100%;
}

footer {
    z-index: 1;
    /* margin-top: 100dvh; */
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    transition: 350ms ease-in-out;
    padding: 0;
}

footer section{
    height: 100%;
    width: 100%;
}

footer section .question-check {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer section .correct{
    background-color: #00b445;
}

footer section .correct h1{
    color: white;
    background-color: #096800;
    margin: 0;
    padding: 1rem;
    border-radius: 1.2rem;
    margin-bottom: 1rem;
}

footer section .incorrect{
    background-color: #ec0101;
}

footer section .incorrect h1{
    color: white;
    background-color: #680000;
    margin: 0;
    padding: 1rem;
    border-radius: 1.2rem 1.2rem 0 0;
    border-bottom: 0.5rem solid #370000;
}

footer section .incorrect p{
    padding: 1rem;
    margin: 0;
    color: white;
    background-color: #680000;
}

footer section .incorrect .answer-reveal {
    color: white;
    background-color: #680000;
    margin: 0;
    padding: 1rem;
    border-radius: 0 0 1.2rem 1.2rem;
    margin-bottom: 1rem;
}

.question-check .continue{
    background-color: black;
    color: rgb(225, 225, 225);
    padding: 0.7rem;
    border: solid 0.2rem #afafaf;
    border-radius: 1.2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 100ms;
}

.question-check .continue:hover {
    background-color: #ecb201;
    color: black;
}

.question-card{
    background-color: black;
    color: rgb(225, 225, 225);
    padding: 0.7rem;
    border: solid 0.4rem #afafaf;
    border-radius: 1.2rem;
    text-align: center;
    font-weight: bolder;
    font-size: 1.45rem;
}

.answer-card{
    background-color: black;
    color: rgb(225, 225, 225);
    padding: 0.7rem;
    border: solid 0.4rem #afafaf;
    border-radius: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    transition: 100ms;
    cursor: pointer;
}

.answer-card .option{
    margin-right: 0.75rem;
    color: #ecb201;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 100ms;
}

.answer-card:hover{
    background-color: #ecb201;
    color: black;
}

.answer-card:hover .option{
    color: black;
}
  

.results{
    z-index: 2;
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    background-color: #ecb201;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -100dvh;
    transition: 350ms ease-in-out;
}

.results h1{
    color: #371d00;
    background-color: #cd7f32;
    margin: 0;
    padding: 1rem;
    border-radius: 1.2rem 1.2rem 0 0;
    border-bottom: 0.5rem solid #371d00;
}

.results .correct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    /* color: #371d00;
    background-color: #cd7f32; */

    color: white;
    background-color: #096800;

    margin: 0;
    padding: 1rem;
    font-weight: bold;
}

.results .incorrect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    /* color: #371d00;
    background-color: #cd7f32; */

    color: white;
    background-color: #ec0101;
    
    margin: 0;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0 0 1.2rem 1.2rem;
}

.reset {
    margin-top: 1rem;
    background-color: black;
    color: rgb(225, 225, 225);
    padding: 0.7rem;
    border: solid 0.4rem black;
    border-radius: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    transition: 100ms;
    cursor: pointer;
}

.reset:hover{
    background-color: #ecb201;
    color: black;
}

.new-game{
    background: linear-gradient(146deg, rgba(0,36,108,1) 0%, rgba(0,23,70,1) 27%, rgba(0,34,101,1) 55%, rgba(0,36,107,1) 69%, rgba(0,34,102,1) 80%, rgba(0,23,70,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    all:unset;
}

.new-game .submit {
    margin-top: 0.75rem;
    background-color: black;
    color: rgb(225, 225, 225);
    padding: 0.7rem;
    border-radius: 1.2rem;
    transition: 100ms;
    cursor: pointer;
    font-weight: bold;
}

label{
    margin-top: 0.75rem;
    font-weight: bold;
}

.new-game .submit:hover {
    background-color: #ecb201;
    color: black;
}